<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2>Sorry! Your feed url didn't work!</h2>

      <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :feed_url %><br />
    <%= f.text_field :feed_url %>
  </div>
  <div class="field label">
	<label for="feed_supercategories">How would you classify this feed?</label><br />
	<% Supercategory.all.each do |supercategory|%>
	<div>
		<%= check_box_tag "feed[supercategory_ids][]", supercategory.id, @feed.supercategories.include?(supercategory)%>
		<%= supercategory.name%>
	</div>
	<% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
