<div class="content_pane"><h1>Welcome back <%= User.find(session[:user_id]).username %>!</h1>

<h1>Stat Reporting</h1>
<fieldset><legend>onReader has:</legend>
<%= pluralize(@total_users, "user") %>
</br>
<%= pluralize(@total_feeds, "feed") %>
</br>
<%= pluralize(@total_subscriptions, "subscription") %>
<!-- probably a bad idea to query the entire user database on every admin login in the long run -->
</fieldset>
<%= button_to 'logout', logout_path, :method => :delete %>
</div>