<%= stylesheet_link_tag "welcome" %>
<div class="intro">
	<%= link_to content_tag(:span,'', :class => 'read-link'), reader_path%>
	<%= link_to content_tag(:span,'', :class => 'share-link'), welcome_url%>
	<%= link_to content_tag(:span,'', :class => 'write-link'), welcome_url%>
	<%= image_tag "front.png"%>
</div>
<% if !is_logged_in? %>
<div class="get-started">
	<h1 class="headline">Join the easiest way to read about your favorite things.</h1>
	<%= form_for(@user) do |f| %>
		<%= f.text_field :email, :class => "user-email", :placeholder => "Email address", :onblur => "if (this.placeholder =='') this.placeholder='Email address';".html_safe%>
		<%= f.password_field :password, :class => "password", :placeholder => "Password", :onblur => "if (this.placeholder =='') this.placeholder='Password';".html_safe%>
		<%= f.password_field :password_confirmation, :class => "password-confirm", :placeholder => "Confirm Password", :onblur => "if (this.placeholder =='') this.placeholder='Confirm Password';".html_safe %>
		<%= f.submit "Start Reading", :class => 'button start' %>
	<% end %>
<% else %>
	<div class="user-get-started ">
		<h1 class="headline">Welcome back, <%= current_user.email %>!</h1>
		<%= link_to "Get Reading!", reader_random_path, :class => 'button start'%>
<% end %>
</div>
