<%= (is_admin? ? "<h1>Listing all subscriptions</h1>" : "<h1>Your subscriptions</h1>").html_safe %>
<table class="neat">
  <tr>
    <th>Feed</th>
    <th><% if is_admin? %># Subscribers<% end %></th>
    <th></th>
  </tr>

<% if not @subscriptions.empty?
    @subscriptions.uniq(:feed_id).each do |subscription| %>
      <tr>
        <td><%= Feed.find_by_id(subscription.feed_id).title %></td>
		<% if is_admin? %><td><%= Feed.find(subscription.feed_id).subscriptions.count %></td><% end %>
        <td><%= link_to 'Unsubscribe', subscription, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
<% end
else %>
    You have no active subscriptions, but there's tons more interesting stuff out there! 
<% end%>
</table>

<br />

<!-- <%= link_to 'New Subscription', new_subscription_path %> -->
