<p id="notice"><%= notice %></p>

<p>
  <b>Feed:</b>
  <%= @post.feed_id %>
</p>

<p>
  <b>Summary:</b>
  <%= @post.summary %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Author:</b>
  <%= @post.author %>
</p>

<p>
  <b>Rank:</b>
  <%= @post.rank %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
