<p id="notice"><%= notice %></p>

<p>
  <b>Viewing <%= @supercategory.name if @supercategory%> feeds:</b>
  
</p>

<% if is_admin?%>
<%= link_to 'Edit', edit_supercategory_path(@supercategory) %> |
<%= link_to 'Back', supercategories_path %>
<% end %>
<ul class="feeds-listing">
	<% if !!@feeds
		 @feeds.each do |f| %>

<li><%= link_to f.title, reader_path(feed_id: f.id) %></li>
	<%   end 
	   end   %>
</ul>
