<!DOCTYPE html>
<% if notice %>
	<div class="notice"><%= notice %></div>
<% end %>
<html>
<head>
  <title>onReader</title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  
</head>
<body>
    <div class="banner">
        <%= image_tag("logo.png")%>
        <div class="nav_menu_bar">
            <a href="#">Explore</a>
            <%= link_to "Read", reader_path %>
            <a href="#">Fooblah</a>
        </div>
        <div class="login_menu_bar">
            <%= link_to "login/signup", login_path%>
        </div>
    </div>
    
    
<%= yield %>

</body>
</html>
