<!DOCTYPE html>
<% if notice %>
    <div class="notice"><%= notice %></div>
<% end %>
<html>
<head>
    <% if @feed %>
      <title>Reading: <%= @feed.title %></title>
  <% else %>
      <title>No active subscriptions</title>
  <% end %>
  <%= stylesheet_link_tag    "reader", :media => "all" %>
  <%= javascript_include_tag "reader" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>

</head>
<body>
    <div class="top_bar shadow">
        <% if @feed %>
            <%= @feed.title %>
        <% end %>
    </div>
    <div id="leftBackDrop" class="shadow">
    </div>
    <div id="readerNavi">
        <ul>
            <li id="home"><a href = <%= welcome_url %> title="Home">Home</a></li>
        </ul>
        <ul>
            <% if session[:read_mode] == "random" %>
                <li id="readSubscriptions"><%= link_to "My Subscriptions", reader_subscriptions_path %></li>
            <% else %>
                <li id="randomize"><%= link_to "Randomize!", reader_path %>
            <% end %>
        </ul>
        <ul>
            <li id="explore"><a href="#">Explore</a></li>
            <!--<li id="explore"><%= link_to "Explore", explore_path %></li>-->
            <li id="addFeed"><%= link_to "Add a feed", new_feed_path %></li>
        </ul>
        <ul>
            <!-- next/previous logic block -->
            <% unless session[:read_mode] == "subscription" %>
                <li id="next"><%= link_to "Next", reader_next_random_path %></li>
                <% unless session[:read_random].size == 1 %>
                    <li id="previous"><%= link_to "Previous", reader_previous_random_path %></li>
                <% end %>
            <% else %>
                <% unless session[:unread].empty? %>
                    <li id="next"><%= link_to "Next", reader_next_subscription_path %></li>
                <% end %>
                <% unless session[:read].size <= 1 %>
                    <li id="previous"><%= link_to "Previous", reader_previous_subscription_path %></li>
                <% end %>
            <% end %>
        </ul>
        <ul>
            <% if is_logged_in? %>
                <li><%= link_to "Logout", logout_path, :method => :delete %></li>
            <% else %>
                <li><%= link_to "Login", login_path %>
            <% end %>
        </ul>
    </div>
    <div class="content_pane">
        <%= yield %>
    </div>

</body>
</html>
