<!DOCTYPE html>
<% if notice %>
    <div class="notice"><%= notice %></div>
<% end %>
<html>
<head>
  <title>Reading: <%= @feed.title %></title>
  <%= stylesheet_link_tag    "reader", :media => "all" %>
  <%= javascript_include_tag "reader" %>
  <%= csrf_meta_tags %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script language="javascript">
      var name = "#readerNavi";
      var menuYloc = null;

      $(document).ready(function(){
      			menuYloc = parseInt($(name).css("top").substring(0,$(name).css("top").indexOf("px")))
      			$(window).scroll(function () { 
      				offset = menuYloc+$(document).scrollTop()+"px";
      				$(name).animate({top:offset},{duration:200,queue:false});
      			});
      		});
      
  </script>
</head>
<body>
    <div id="readerNavi">
        <ul>
            <li><a href = <%= welcome_url %> title="Home">Home</a></li>
        </ul>
        <ul>
            <li><%= link_to "Explore", reader_path%></li>
            <li><%= link_to "Add a feed", new_feed_path %></li>
        </ul>
        <ul>
            <li><a href="#" title="Next article">Next</a></li>
            <li><a href="#" title="Previous article">Previous</a></li>
        </ul>
        <ul>
            <% if is_logged_in? %>
                <li><%= link_to "Logout", logout_path, :method => :delete %></li>
            <% else %>
                <li><%= link_to "Login", login_path %>
            <% end %>
        </ul>
    </div>
    <div id=readerPanel>
        <%= yield %>
    </div>
</body>
</html>
