<!DOCTYPE html>
<% if notice %>
    <div class="notice"><%= notice %></div>
<% end %>
<html>
<head>
  <title>Reading: <%= @feed.title %></title>
  <%= stylesheet_link_tag    "reader", :media => "all" %>
  <%= javascript_include_tag "reader" %>
  <%= csrf_meta_tags %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script language="javascript">
      var name = "#readerNavi";
      var menuYloc = null;

      $(document).ready(function(){
      			menuYloc = parseInt($(name).css("top").substring(0,$(name).css("top").indexOf("px")))
      			$(window).scroll(function () { 
      				offset = menuYloc+$(document).scrollTop()+"px";
      				$(name).animate({top:offset},{duration:200,queue:false});
      			});
      		});
      
  </script>
</head>
<body>
    <div id="readerNavi">
        <ul>
            <li><a href = <%= welcome_url %> title="Home">Home</a></li>
        </ul>
        <ul>
            <li><a href="#" title="Explore new content">Explore</a></li>
            <li><a href="#" title="My Articles">Articles</a></li>
        </ul>
        <ul>
            <li><a href="#" title="Next article">Next</a></li>
            <li><a href="#" title="Previous article">Previous</a></li>
        </ul>
    </div>

<%= yield %>

</body>
</html>
