<!DOCTYPE html>
<% if notice %>
    <div class="notice"><%= notice %></div>
<% end %>
<html>
<head>
    <% if @feed and not @feed.is_a? Fixnum%>
      <title>Reading: <%= @feed.title %></title>
  <% else %>
      <title>No active subscriptions</title>
  <% end %>
  <%= stylesheet_link_tag    "reader", :media => "all" %>
  <%= javascript_include_tag "reader" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript">
      $(document).ready(function() {
          $('.entry a').click(function() {
              window.open(this.href, 'onReader', 'width=600,height=800');
              return false;
          });
      });
  </script>
</head>
<body>
    <div class="top_bar shadow">
        <% if @feed and not @feed.is_a? Fixnum%>
            <%= @feed.title %>
        <% end %>
    </div>
    <div id="leftBackDrop" class="shadow">
        <%= link_to image_tag(src="oR_smallLight.png", :id => "logo", :alt => "onReader"), welcome_path %>
    </div>
    <div id="rightBackDrop">
    </div>
    <div class="login">
        <% if is_logged_in? %>
            <% if is_admin? %><%= link_to "Admin", admin_path %></br></br><% end %>
            <%= link_to raw("Manage</br>Subscriptions"), subscriptions_path %>
            </br>
            <%= link_to "Log Out", logout_path, :method => :delete %>
        <% else %>
            <%= link_to "Log In", login_path %>
        <% end %>
    </div>
    <div id="readerNavi">
        <ul>
            <% if session[:read_mode] == "random" %>
                <li id="readSubscriptions"><%= link_to "Read Subscriptions", reader_subscriptions_path %></li>
            <% else %>
                <li id="randomize"><%= link_to "Randomize!", reader_path %>
            <% end %>
        </ul>
        <ul>
            <li id="explore"><%= link_to "Explore", explore_path %></li>
            <li id="addFeed"><%= link_to "Add a feed", new_feed_path %></li>
        </ul>
        <ul>
            <!-- next/previous logic block -->
            <% unless session[:read_mode] == "subscriptions" %>
                <li id="next"><%= link_to "Next", reader_next_random_path %></li>
                <% unless session[:read_random].size == 1 %>
                    <li id="previous"><%= link_to "Previous", reader_previous_random_path %></li>
                <% end %>
            <% else %>
                <% unless session[:unread_subscriptions].empty? %>
                    <li id="next"><%= link_to "Next", reader_next_subscription_path %></li>
                <% end %>
                <% unless session[:read_subscriptions].size <= 1 %>
                    <li id="previous"><%= link_to "Previous", reader_previous_subscription_path %></li>
                <% end %>
            <% end %>
        </ul>
    </div>

    <div class="content_pane">
        <%= yield %>
    </div>


</body>
</html>
