<!DOCTYPE html>
<html>
<head>
  <title>onReader</title>
  
  <%= stylesheet_link_tag "welcome" %>
  <%= javascript_include_tag "welcome" %>
  <%= csrf_meta_tags %>

</head>
<body>

    <div class="splash">
        <div class="center">
            <%= link_to image_tag(src="oR_splash.png", :id => "logo", :alt => "onReader"), reader_path %>
            <%= yield %>
        </div>
    </div>
    <div class="login">
        <% if is_logged_in? %>
            <%= link_to "Log Out", logout_path, :method => :delete %>
        <% else %>
            <%= link_to "Log In", login_path %>
        <% end %>
    </div>


</body>
</html>