<!DOCTYPE html>
<html>
<head>
  <title>onReader</title>
  
  <%= stylesheet_link_tag "welcome" %>
  <%= javascript_include_tag "welcome" %>
  <%= csrf_meta_tags %>

</head>
<body class="hero-section" style="display: block;">
	<div class="header-wrapper">
		<header class="main-header">
			<nav class="header-nav">
				<span class="home-link">
					<%= image_tag(src="oR_top.png", :id => "logo", :alt => "onReader")%>
				</span>
				<div class="actions">
				    <% if is_logged_in? %>
				        <%= link_to "Sign Out", logout_path, :method => :delete, :class => 'button signin-button' %>
						<div class="user-nav">
							<% if is_admin? %><%= link_to "Admin", admin_path %><% end %>
							<%= link_to "Manage Account", subscriptions_path %>
						</div>
				    <% else %>
				        <%= link_to "Sign In", login_path, :class => 'button signin-button' %>
				    <% end %>
				
				</div>
				<ul class="top-nav nav-list">
				    <li class="nav-item">
						<a class='nav-link' href="reader">
							<i class='read-icon'></i>
							
							<strong>Read</strong>
							<span class="tagline">Enjoy the web's best.</span>
						</a>
					</li>
				    <li class="nav-item">
						<a class='nav-link' href="explore">
							<i class='explore-icon'></i>
							<strong>Explore</strong>
							<span class="tagline">Discover new content.</span>
						</a>
					</li>
				    <li class="nav-item">
					<a class='nav-link' href="about">
						<i class='about-icon'></i>
						
						
						
						<strong>About</strong>
						<span class="tagline">What we do here.</span>
					</a></li>
				</ul>
		</header>
	</div>
	<div class="content">
		<div class="view">
			<div class="underlay">
				<%= yield %>
			</div>
		</div>
		<div class="footer-nav">
			<p class="copyright">© 2012 onReader. All rights reserved.</p>
		</div>
	</div>
</body>
</html>