<% @posts.each do |p| %>
    <div class="entry">
        <h1 class="title"><%if p.url %><%= link_to p.title, p.url %>
			<%else%><%= p.title %><%end%>
		</h1>
        
        <span class="byline">
		<% if !!p.published_at %><%= p.published_at.strftime("on %m/%d/%Y at %I:%M%p") %> <% end %>
            <% if p.author %> by <%= sanitize(p.author) %> <% end %>
        </span>
        
        </br>
        <% unless !!p.content and not p.content.empty? %>
            <div class="summary"><%= sanitize(p.summary) %></div>
        <% else %>
            <div class="reader-content"><%= sanitize(p.content) %></div>
        <% end %>
        <hr style="height: 1px;">
    </div>
<% end %>