<div id="subscribe" class="shadow">
<% if session[:read_random]
    unless is_subscribed?(session[:read_random].last)%>
            <%= link_to 'Subscribe', subscriptions_path(feed_id: session[:read_random].last), method: :post, remote: :true %>
        
    <% else %>
        <%= link_to 'Unsubscribe', subscriptions_path(feed_id: session[:read_random].last), method: :delete, remote: :true %>
    
<%  end
   end %>
</div>

<% @feed.entries.each do |entry| %>
    <div class="entry">
        <h1><%= entry.title %></h1>
        <%= entry.published.strftime("on %m/%d/%Y at %I:%M%p") %> by <%= sanitize(entry.author) %>
        </br>
        <div class="summary"><%= sanitize(entry.summary) %></div>
        <div class="content"><%= sanitize(entry.content) %></div>
        <hr style="height: 1px;">
    </div>
<% end %>

