<% unless @feed.is_a? Fixnum #protect against bad feed URLs returning 404, 503 etc... TODO better handling
    @feed.entries.each do |entry| %>
    <div class="entry">
        <h1><%= entry.title %></h1>
        
        <span class="byline">
		<% if entry.published %><%= entry.published.strftime("on %m/%d/%Y at %I:%M%p") %> <% end %>
            <% if entry.author %> by <%= sanitize(entry.author) %> <% end %>
        </span>
        
        </br>
        <% unless !!entry.content and not entry.content.empty? %>
            <div class="summary"><%= sanitize(entry.summary) %></div>
        <% else %>
            <div class="reader-content"><%= sanitize(entry.content) %></div>
        <% end %>
        <hr style="height: 1px;">
    </div>
<% end %>
<% end %>

