<div id="subscribe" class="shadow">
<% if session[:read_random]
    #Hard link to log in/ sign up if guest tries to subscribe.
    #super future TODO associate subscriptions for visitors so they don't need to sign up, but limit it to some low number.
    if !is_logged_in? %>
        <%= link_to 'Subscribe', login_path %>
    <% else
        unless is_subscribed?(session[:read_random].last) %>
          <%= link_to 'Subscribe', subscriptions_path( :feed_id => session[:read_random].last), :method => :post, :remote => :true %>
        <% else %>
            <%= link_to 'Unsubscribe', subscription_path(Subscription.find_by_feed_id(session[:read_random].last)), :method => :delete, :remote => true %>
    
    <%  end
    end
   end %>
</div>

<% unless @feed.is_a? Fixnum #protect against bad feed URLs returning 404, 503 etc... TODO better handling
    @feed.entries.each do |entry| %>
    <div class="entry">
        <h1><%= entry.title %></h1>
        
        <span class="byline">
		<% if entry.published%><%= entry.published.strftime("on %m/%d/%Y at %I:%M%p") %> <% end %>
            <% if entry.author %> by <%= sanitize(entry.author) %> <% end %>
        </span>
        
        </br>
        <% unless entry.content and not entry.content.empty? %>
            <div class="summary"><%= sanitize(entry.summary) %></div>
        <% else %>
            <div class="content"><%= sanitize(entry.content) %></div>
        <% end %>
        <hr style="height: 1px;">
    </div>
<% end %>
<% end %>

